pre,
code {
  font-family: 'JetBrainsMono-Regular' !important;
}
.Code {
  @apply font-normal text-2xl leading-snug tracking-wide;
  font-family: 'JetBrainsMono-ExtraBold';
}

.copy-to-clipboard-button {
  background: rgb(81, 82, 85);
  padding: 5px;
}

/* from Prism */
pre[class*='language-'].line-numbers {
  counter-reset: linenumber;
  @apply relative px-25 whitespace-pre-wrap;
}

pre[class*='language-'].line-numbers > code {
  white-space: inherit;
  @apply relative;
}

.line-numbers .line-numbers-rows {
  @apply absolute top-0 left-[-3em] tracking-tighter border-r-1 border-gray-600 select-none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.line-numbers-rows > span {
  @apply block pointer-events-none;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  @apply text-gray-400 block pr-[0.8em] text-right;
  content: counter(linenumber);
}
