@supports (font-variation-settings: normal;) {
  html {
    font-family: sans-serif;
  }
}

@supports (scrollbar-gutter: stable) {
  html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}

@media (prefers-color-scheme: light) {
  .shiki.dark-plus {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .shiki.light-plus {
    display: none;
  }
}

#root {
  scrollbar-gutter: stable;
  color-scheme: dark;
  font-family: 'JetBrainsMono-ExtraBold';
  -webkit-font-smoothing: antialiased;
  @apply w-full h-full m-0 overflow-y-auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply dark:bg-[rgb(24_24_27)] w-full h-full opacity-[0.9] m-0;
}
