@supports (font-variation-settings: normal;) {
  html {
    font-family: sans-serif;
  }
}

@supports (scrollbar-gutter: stable) {
  html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}

#root {
  font-family: 'JetBrainsMono-ExtraBold';
  color-scheme: dark;
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: light) {
  .shiki.dark-plus {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .shiki.light-plus {
    display: none;
  }
}

html,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 2;
  height: 100%;
  width: 100%;
}

code {
  -webkit-font-smoothing: initial;
}
