html,
#root {
  min-width: 360px;
  max-width: 100%;
  scroll-behavior: smooth;
  @apply w-full max-w-full overflow-x-hidden;
  @apply w-full m-0;
  overflow-anchor: unset !important;
}

:focus:not(:focus-visible) {
  outline: none;
}

body {
  overflow-x: hidden;
  @apply dark:bg-[rgb(01,01,01,01)] w-full h-full m-0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

main {
  font-family: IBM Plex Sans, sans-serif;
  @apply mt-25;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0 999px var(--color-gray-100) inset !important;
  box-shadow: 0 0 0 999px var(--color-gray-100) inset !important;
  background-clip: content-box !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 999px var(--color-gray-800) inset !important;
  box-shadow: 0 0 0 999px var(--color-gray-800) inset !important;
  background-clip: content-box !important;
}

input:-webkit-autofill::first-line {
  font-size: 1.125rem;
  font-weight: 500;
  font-family: IBM Plex Sans, sans-serif;
}

/* I kinda feel like this should be the default... 🤷‍♂️ */
[hidden] {
  pointer-events: none;
}

/* These elements get removed before hydration but they can look funny before hydrating */
dark-mode,
light-mode {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.1s ease;
    outline-offset: 4px;
  }
}

::selection {
  background-color: rgba(231, 189, 243, 0.913);
  color: rgb(243, 189, 211);
}

li::marker {
  @apply text-transparent;
}

a {
  position: relative;
  transition: all 0.1s;
  text-decoration: none;
  @apply dark:(text-blue-400);
}

p {
  @apply dark:(text-white);
}

a:before,
a:after {
  transition: all 0.1s;
}

.social:before,
.social:after {
  position: absolute;
  top: 3px;
  color: transparent;
}

.social:hover::before,
.social:hover::after {
  font-size: 1.2em;
  font-weight: 900;
  color: rgb(243, 189, 211);
}

.social:before {
  content: '\007B';
  left: -12px;
}

.social:hover::before {
  left: -7px;
}

.social:after {
  content: '\007D';
  right: -12px;
}

.social:hover::after {
  right: -7px;
}

.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}

.skip-nav {
  @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

#skip {
  scroll-margin-top: 1.125rem;
}

code,
pre {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  /* font-family: JetBrainsMono !important; */
}

*::-webkit-scrollbar {
  @apply w-[0.5rem] h-[0.3rem];
}

*::-webkit-scrollbar-track {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  @apply bg-zinc-800 h-[0.3rem];
}

*::-webkit-scrollbar-thumb {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  @apply bg-gray-600 border-20 border-red-500 border-2 rounded-xl h-2;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  src: url(/fonts/Inter-var.woff2) format('woff2');
}

@font-face {
  font-family: Inter Bold;
  font-weight: 800;
  src: url(/fonts/Inter-var.woff2) format('woff2');
}

@font-face {
  font-family: IBM Plex Sans;
  font-weight: 400;
  src: url(/fonts/ibm-plex-sans-var.woff2) format('woff2');
}

@font-face {
  font-family: IBM Plex Sans Bold;
  font-weight: 900;
  src: url(/fonts/ibm-plex-sans-var.woff2) format('woff2');
}

@font-face {
  font-family: JetBrainsMono;
  font-weight: 400;
  src: url(/fonts/JetBrainsMono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: JetBrainsMono Bold;
  font-weight: 900;
  src: url(/fonts/JetBrainsMono-ExtraBold.woff2) format('woff2');
}

.jet-brains {
  font-family: 'JetBrainsMono' !important;
  @apply leading-40 tracking-tighter antialiased;
}

.jet-brains-bold {
  font-family: 'JetBrainsMono Bold' !important;
  @apply leading-40 tracking-tighter antialiased;
}

.ibm-plex-sans {
  font-family: 'IBM Plex Sans' !important;
  @apply leading-40 tracking-tighter antialiased;
}

.ibm-plex-sans-bold {
  font-family: 'IBM Plex Sans Bold' !important;
  @apply leading-normal tracking-tighter antialiased;
}

.inter {
  font-family: Inter !important;
  @apply leading-40 tracking-tighter antialiased;
}

.inter-bold {
  font-family: Inter Bold !important;
  @apply leading-40 tracking-tighter antialiased;
}

@supports (font-variation-settings: normal;) {
  html {
    font-family: sans-serif;
  }
}

@supports (scrollbar-gutter: stable) {
  html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}

@media (prefers-color-scheme: light) {
  .shiki.dark-plus {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .shiki.light-plus {
    display: none;
  }
}
