:root {
  --article-background-dark: rgb(29, 225, 49);
  --article-background-light: hsla(244, 49.5%, 97%, 11);
}

* {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

html.dark {
  [data-theme='light'] {
    display: none;
    visibility: hidden;
  }
}

html.light {
  [data-theme='dark'] {
    display: none;
    visibility: hidden;
  }
}

* {
  @apply max-w-full;
}

[data-line-numbers] {
  counter-reset: line;
}

[data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  text-align: justify;
  @apply text-gray-300 text-right inline-block hover:text-gray-100 tabular-nums;
  @apply mr-[8px] sm:mr-[12px];
}

article {
  @apply w-full max-w-full overflow-hidden px-2 sm:p-6;
}

p,
span {
  @apply whitespace-pre-wrap text-gray-800 dark:text-gray-100;
}

svg,
g {
  color: red @apply w-full h-full;
}

*[class*='prose'] pre {
  @apply break-all overflow-x-auto bg-transparent max-w-full;
}

*[class*='prose'] div[data-rehype-pretty-code-fragment] {
  font-family: JetBrainsMono;
  @apply w-full min-w-full max-w-full leading-[1.55rem] dark:(bg-[hsl(0,0%,25%/0.2)] border-zinc-900) hover:(cursor-text border) border border-gray-200 bg-gray-200 text-sm sm:text-base font-extralight overflow-hidden rounded-lg sm:rounded-md p-1 my-3;
}

*[class*='prose'] > p ~ div[data-rehype-pretty-code-fragment] {
  @apply mt-2;
}

/** Code Title */
[data-rehype-pretty-code-title] {
  @apply select-none text-sm px-2 flex justify-between;
  @apply border-b rounded-none text-gray-500 border-zinc-300 dark:(bg-transparent text-gray-400 border-zinc-900);
}

[data-rehype-pretty-code-title][data-language]::after {
  content: ' ' attr(data-language);
  @apply text-right text-gray-400 uppercase ml-auto;
}

[data-rehype-pretty-code-fragment] > pre {
  @apply m-[2px] text-sm p-2;
  /* @apply sm:m-1 px-2 sm:px-4 sm:py-1; */
}

/* Code snippet header */
[data-rehype-pretty-code-fragment] > code,
[data-rehype-pretty-code-title] {
  /* @apply border dark:border-zinc-800 border-zinc-300 hover:bg-zinc-200 bg-zinc-100 dark:bg-red-900 hover:dark:bg-transparent; */
}

span.line,
span.line > span {
  @apply select-all selection:(bg-pink-200 text-gray-700) break-all overflow-auto max-w-full whitespace-pre;
}

/** In line code */
p > code {
  @apply rounded-lg hover:(bg-gray-200) text-gray-800 dark:(bg-gray-800 text-pink-300) bg-gray-100 selection:text-gray-600 py-1 hover:dark:bg-transparent hover:dark:text-white hover:dark:border-gray-900;
}

/* Snippet line numbers */
[data-line-numbers] {
  counter-reset: line;
}

[data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  text-align: justify;
  @apply text-gray-300 text-right inline-block hover:text-gray-100 tabular-nums;
  @apply mr-[8px] sm:mr-[12px];
}

*[class*='prose'] > ol {
  @apply my-0 py-0 tabular-nums;
}

*[class*='prose'] > p {
  @apply subpixel-antialiased;
}

.anchor:hover {
  @apply visible dark:text-slate-200;
}

*[class*='prose'] code::after,
*[class*='prose'] code::before {
  @apply hidden;
}

*[class*='prose'] .anchor {
  @apply text-zinc-600 dark:text-gray-500 no-underline hover:(underline) hover:dark:text-slate-200 underline-offset-8;
}

*[class*='prose'] a {
  @apply text-slate-600 dark:text-slate-200 font-bold antialiased hover:(text-blue-500 no-underline) underline decoration-light-500/60 underline-offset-4;
}

.prose .anchor {
  @apply no-underline w-full;
  @apply -ml-2 pr-2 w-full max-w-[700px] cursor-pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all w-full;
}

.anchor::before {
  @apply text-gray-300 dark:(text-slate-500) hover:(text-slate-200);
  content: '#';
  @apply mr-1.5 text-xl;
}

.prose *:hover > .anchor {
  @apply visible dark:(text-zinc-100);
}

*[class*='prose'] h1,
*[class*='prose'] h2,
*[class*='prose'] h3,
*[class*='prose'] h4,
*[class*='prose'] h5 {
  font-family: Inter Bold !important;
  @apply mt-4 mb-4 w-full text-slate-400 dark:hover:text-white hover:(cursor-pointer);
}

*[class*='prose'] pre code {
  border: initial;
}

*[class*='prose'] > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

svg {
  @apply text-light-50;
}

.step > h3 {
  @apply my-0;
}

*[class*='prose'] > p {
  @apply mb-0 dark:(text-white);
}

*[class*='prose'] .tweet a {
  text-decoration: inherit;
  font-weight: inherit;
}

#table-of-contents {
  @apply !my-0 text-[1.2rem];
}

#table-of-contents li {
  @apply mb-10 !text-[rgb(121,130,255)];
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

a[title='link'] {
  @apply text-blue-400 font-bold antialiased hover:(text-blue-500 no-underline) underline decoration-light-500/100 underline-offset-4;
}

h1 {
  font-family: Inter Bold;
  @apply text-4xl;
}
