:root {
}

html.dark {
  [data-theme='light'] {
    display: none;
    visibility: hidden;
  }
}

html.light {
  [data-theme='dark'] {
    display: none;
    visibility: hidden;
  }
}

a[title='link'] {
  @apply text-[#7982ff] font-bold antialiased hover:(text-blue-500 no-underline) underline decoration-light-500/100 underline-offset-4;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: Inter Bold;
  @apply text-4xl;
}

p {
  /* @apply text-left leading-6; */
}

* {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar {
  display: none;
}

pre {
  @apply break-all overflow-x-auto;
}

[data-language] {
  /* @apply rounded-xl leading-[1.3rem] sm:leading-[1.4rem] rounded-xl min-w-full mb-2; */
}

div[data-rehype-pretty-code-fragment] {
  @apply w-full min-w-full leading-[1.55rem];
  @apply rounded-lg sm:rounded-xl my-3 p-1;
  @apply dark:(bg-black border-zinc-700) hover:(bg-zinc-200 cursor-text border dark:(bg-[rgb(9_9_11)]));
  @apply border border-transparent border-zinc-300 bg-gray-200 text-sm sm:text-base font-extralight;
  /* @apply border-2; */
  @apply overflow-hidden;
}

/** Code Title */
[data-rehype-pretty-code-title] {
  font-family: JetBrainsMono;
  @apply text-gray-400 select-none text-sm;
  @apply border-b rounded-none border-zinc-400 dark:border-zinc-600 hover:dark:bg-zinc-900 rounded-t-xl;
  @apply px-4 py-1;
}

div[data-rehype-pretty-code-fragment]pre::before {
  /* content: '$'; */
}

[data-rehype-pretty-code-fragment] > pre {
  @apply m-[2px] text-sm p-2;
  /* @apply sm:m-1 px-2 sm:px-4 sm:py-1; */
}

[data-rehype-pretty-code-fragment] > code,
[data-rehype-pretty-code-title] {
  /* @apply border dark:border-zinc-800 border-zinc-300 hover:bg-zinc-200 bg-zinc-100 dark:bg-gray-900 hover:dark:bg-transparent; */
}

span.line {
  @apply select-all selection:(bg-pink-200 text-gray-700) break-all overflow-auto;
}

/** In line code */
p > code {
  font-family: 'JetBrainsMono-Regular' !important;
  @apply rounded-lg hover:(bg-gray-200 dark:(bg-transparent text-white border-gray-900)) text-gray-800 dark:(bg-gray-900 text-lightBlue-300) bg-gray-100 min-w-full selection:text-gray-600;
  @apply p-1;
}

[data-line-numbers] {
  counter-reset: line;
}

[data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  text-align: justify;
  @apply text-gray-300 text-right inline-block hover:text-gray-100;
  @apply mr-[8px] sm:mr-[12px];
}
